*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    box-sizing: border-box;
}
:root{

    --body-color:#efefef;
    --nav-color:#1876f2;
    --big-color:#fff;

}
.theme{
    --body-color:#0a0a0a;
    --nav-color:#000;
    --big-color:#000;

}
body{
    background-color:var(--body-color);


}




nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--nav-color);
    padding: 5px 5%;
    position: sticky;
    top: 0;
    z-index: 100;
}
.logo{
    width: 160px;
    margin-right: 45px;
    filter: invert(100%) sepia(6%) saturate(7478%) hue-rotate(297deg) brightness(113%) contrast(106%);

}
.logo-1{
    height: 20px;
    width: 20px;
    filter: invert(100%) sepia(6%) saturate(7478%) hue-rotate(297deg) brightness(113%) contrast(106%);
    

}
.nav-left , .nav-right{
    display: flex;
    align-items: center;
}
.nav-left ul li{
    list-style: none;
    display: inline;
}
.nav-left ul li{
    width: 28px;
    margin: 0 15px;
}
.nav-user-icon img{
    width: 40px;
    border-radius: 50%;
    cursor: pointer;


}
.nav-user-icon{
    margin-left: 30px;
}
.search-box{
    background:#F0F0F0 ;
    width: 350px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 0 15px;

}
.search-box image{
    width: 18px;
}
.search-box input{
    width: 100%;
    background: transparent;
    padding: 10px;
    outline: none;
    border: 0px;
}
.online{
    position: relative;
}
.online::after{
    content: '';
    width: 7px;
    height: 7px;
    border: 2px solid #ffffff;
    border-radius: 50%;
    background:#41db41 ;
    position: absolute;
    top:0px;
    right:0px;

}
.container{
    display: flex;
    justify-content: space-between;
    padding: 12px 5%;
}
.left-sidebar{
    
    flex-basis: 25%;
    position: sticky;
    top: 70px;
    align-self: flex-start;
   
}
.right-sidebar{
    
    flex-basis: 25%;
    position: sticky;
    top: 70px;
    align-self: flex-start;
    background: var(--big-color);
    padding: 20px;
    border-radius: 4px;
    color:#1876f2;

}
.info{
    width: 47%;

}
.imp-link a , .shortcut-links a{
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    color: #626262;
    width: fit-content;

}
.imp-link img{
    width: 25px;
    margin-left:15px;
    filter: invert(33%) sepia(59%) saturate(2279%) hue-rotate(201deg) brightness(96%) contrast(97%);
   
}
.imp-link a:last-child{
    color: #1876f2;
}
.imp-link{
    border-bottom: 1px solid  black;
}
.shortcut-links a image{
    width: 40px;
    border-radius: 4px;
    margin-right: 15px;

}
.shortcut-links p{
    margin: 25px 0px ;
    color:#626262;
    font-weight: 500;
}
.shortcut-links a img{
    height: 20px;
    width: 20px;

}
#more{
    filter: invert(100%) sepia(0%) saturate(7457%) hue-rotate(134deg) brightness(100%) contrast(100%);
}
.side-bar-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 18px;
    

}.right-sidebar h4{
    font-weight: 600;
    font-size: 16px;

}
.side-bar-title a{
    text-decoration: none;
    color:#1876f2;
    font-size: 12px;
}
.event{
    display: flex;
    font-size: 14px;
    margin-bottom: 20px;

}
.left-event{
    border-radius: 10px;
    height: 65px;
    width: 65px;
    margin-right: 15px;
    padding-top: 10px;
    text-align: center;
    position: relative;
    overflow-y: hidden;
    box-shadow: 0 0 10px rgba(0 ,0 ,0 ,0.1 alpha);
}
.event p{
font-size: 12px;

    
}
.event a{
    font-size: 12px;
    text-decoration: none;
    color: #1876f2;
}
.left-event span{
    position: absolute;
    bottom: 0 ;
    left: 0;
    width: 100%;
    background: #1876f2;
    color: rgb(0, 0, 0);
    font-size: 10px;
    padding: 4px 0;


}
.sidebar-ads{
    width: 100%;
    margin-bottom: 20px;
    border-radius: 4px;
    
}
.online-list{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    
}
.online-list .online img{
    width: 40px;
    border-radius: 50%;

    
}
.online-list .online{
    width: 40px;
    border-radius: 50%;
    margin-right: 15px;

}
.online-list .online::after{
    top: unset;
    bottom: 5px;

}
.story-gallery{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

}
.story{
    flex-basis: 18%;
    padding-top: 32%;
    position: relative;
   
    background-position: center;
    background-size: cover;
    border-radius: 10px;

}
.story img{
    position: absolute;
    width: 45px;
    border-radius: 50%;
    top: 10px;
    left: 10px;
    border: 5px solid #1876f2;
}
.story p{
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    color: #ffffff;
    font-size: 14px;

}
.story1{
    background-image: /*linear-gradient(transparent,rgba(0,0,0,0.5))*/ url("/profile3.jpg");
}
.story2{
    background-image: /*linear-gradient(transparent,rgba(0,0,0,0.5))*/ url("/user5.jpg");
}
.story3{
    background-image: /*linear-gradient(transparent,rgba(0,0,0,0.5))*/ url("/parrot.jpg");
}
.story4{
    background-image: /*linear-gradient(transparent,rgba(0,0,0,0.5))*/ url("/profile22.jpg");
}
.story5{
    background-image: /*linear-gradient(transparent,rgba(0,0,0,0.5))*/ url("/profile1.webp");
   
}
#profile1{
    height: 45px;
    background-size: cover;
    
}
.story.story1 img{

    top: unset;
    left: 50%;
    bottom: 40px;
    transform: translateX(-50%);
    border: 0px;
    width: 35px;

}
.write{
    width: 100%;
    background-color:var(--big-color);
    border-radius: 6px;
    padding: 20px;
    color: #626262;
}
.user-profile{
    display: flex;
    align-items: center;
}
.user-profile img{
    width:45px;
    border-radius: 50%;
    margin-right: 10px;
    

}
.filter img{
    filter: invert(33%) sepia(59%) saturate(2279%) hue-rotate(201deg) brightness(96%) contrast(97%);

}
.user-profile p{
    margin-bottom: -5px;
    font-weight: 500;
    color: #626262;
}
.user-profile small{
    font-size: 12px;

}
.input-container{
    padding-left: 55px;
    padding-top: 20px;

}
.input-container textarea{
    width: 100%;
    border: 0px;
    outline: 0;
    border-bottom: 1px solid #1876f2;
    background: transparent;
    resize: none;
}
.Add-post-links{
    display: flex;
    margin-top: 10px;

}
.Add-post-links a{
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #626262;
    margin-right: 30px;
    font-size: 13px;

}
.Add-post-links a img{
    width: 20px;
    margin-right: 10px;
    
}
.post-container{
    width: 100%;
    background: var(--big-color);
    border-radius: 6px;
    padding: 20px;
    color: #626262;
    margin: 20px 0px;

}
.uscolorer-profile span{
    font-size: 13px;
    color: #9a9a9a;

}
.p-text{
    color: #9a9a9a;
    margin: 15px 0px;
    font-size: 15px; 
}
.p-text span{
    color: #626262;
    font-weight: 500;

}
.p-text a{
    color: #1876f2;
    text-decoration: none;
}
.post-img{
    width: 100%;
    border-radius: 4px;
    margin-bottom: 5px;

}
#img{
    height: 400px;
    width: 450px;
}
#logo{
    height: 40px;
    width: 40px;
    filter: invert(28%) sepia(93%) saturate(1892%) hue-rotate(205deg) brightness(103%) contrast(90%);

}
.post-row{
    display: flex;
    align-items: center;
    justify-content: space-between;


}
.activity-icons div{
    width: 18px;
    margin-right: 10px;


}
.activity-icons div{
    display: inline-flex;
    align-items: center;
    margin-right: 30px;

}
.activity-img{
    width: 20px;
    height: 20px;
}
.activity-img:active{
    filter: invert(33%) sepia(59%) saturate(2279%) hue-rotate(201deg) brightness(96%) contrast(97%);
}
.post-profile-icon{
    display: flex;
    align-items: center;

}
.post-profile-icon img{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin-right: 5px;

}
.post-row a{
    color: #9a9a9a;

}
.button{
    display: block;
    margin: auto;
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid #9a9a9a;
    color: #626262;
    background: transparent;
    border-radius: 4px;

}
.footer{
    text-align: center;
    color: #9a9a9a;
    padding: 10px 0 20px;
    font-size: 13px;

}
.settings{
    position:absolute;
    width: 90%;
    max-width: 350px;
   
    background: var(--big-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    border-radius: 4px;
    overflow: hidden;
    top: 108%;
    right: 5%;
    max-height:0 ;
    transition: max-height 0.3s;

}
.settings-height{
    max-height: 450px;
}
.user-profile a{
    font-size: 12px;
    color: #1876f2;
}
.user-profile img{
    height: 45px;
}
.settings-1{
    padding: 20px;

}
.settings hr{
    border: 0;
    height: 1px;
    background: #9a9a9a;
    margin:15px 0;
}
.settings-links{
    display: flex;
    align-items: center;
    margin: 15px 0;


}
.settings-links .setting-icon{
    width: 38px;
    margin-right: 10px;
    border-radius: 50%;

}
.settings-links a{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: #626262;
}
.nightmode{
    position: absolute;
    top: 20px;
    right: 20px;
    background: #ccc;
    width: 45px;
    border-radius: 15px;
    padding: 2px 3px;
    cursor: pointer;
    display: flex;
    transition: padding-left 0.5s , background 0.5s;
}
.nightmode span{
    width: 18px;
    height: 18px;
    background: #fff;
    border-radius: 50%;
    display: inline-block;

}
.night-mode-on{
    padding-left: 23px;
    background: #ccc;
}
.activity-img1{
    order: 1;
    width: 20px;
    height: 20px;
    filter: invert(100%) sepia(0%) saturate(7457%) hue-rotate(134deg) brightness(100%) contrast(100%);
}
.icon111{
    filter: invert(51%) sepia(84%) saturate(2791%) hue-rotate(329deg) brightness(101%) contrast(103%);
}